<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated vaadinmobile -->
      <package
            uri="http://lunifera.org/ecview/v1/vaadin/mobile"
            class="org.lunifera.mobile.vaadin.ecview.model.VaadinMobilePackage"
            genModel="model/vaadinmobile.genmodel"/>
   </extension>

</plugin>
